body {
    /* background-image: url("https://images.pexels.com/photos/371589/pexels-photo-371589.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
    background: linear-gradient(to top, #cc66ff 0%, #9966ff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 200%;
}

#container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: white;
    line-height: 1rem;
    opacity: 95%;
    width: 60rem;
    margin: auto;
    border-radius: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#container button {
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    background-color: rgb(255, 248, 251);
    /* background-color: linear-gradient(to top, #0099cc 0%, #006666 100%); */
    color: rgb(76, 11, 255);
    margin: auto;
    border-radius: 1rem;
    border: none;
    padding: 2rem;
    /* font-family: ; */
    font-size: 1rem;
}

#container div {
    /* border: 1px solid red; */
    border-radius: 1rem;
    width: 100%;
    margin: auto;
}

#container button {
    width: 100%;
    font-size: xx-large;
    cursor: pointer;
}

#container #manual {
    display: flex;
    flex-direction: row;
}
#container #manual input {
    width: 69%;
    border: none;
    font-size: xx-large;
    text-align: center;
    opacity: 75%;
    color: black;
    border-radius: 1rem;
}
#container #manual button {
    width: 29%;
    margin-right: 0px;
}

#details {
    background-color: rgb(92, 95, 133);
    text-align: center;
      /* padding-left:2rem; */
}

#container #details7Days {
    margin: auto;
    margin-top: 1rem;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px; */
    display:flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#details7Days div {
    /* border: 1px solid red; */
    width:30rem;
    background-color: rgb(92, 95, 133);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#details7Days div h3 {
    text-align: center;
}

@media only screen and (max-width: 600px) {
  
  #manual{
      display:flex;
      flex-direction:row;

  }
}